
.slideshow-container {
  position: relative;
  background: #DEB300;
}


.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}



.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1);
  color: #DEB300;
  border:7px double DEB300;
}


.dot-container {
    text-align: center;
    padding: 20px;
    background: #000;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #DEB300;
  border-radius: 50%;
 
 display: inline-block;
 transition: background-color 0.6s ease;
 }
 
 
 .active, .dot:hover {
 background-color: #000;
 }
 
 
